/* colores marker
Verde turquesa: #31b4a2
gris azulado pin: #3a5169 */

/* colores para variables
azulon: #2c3e50
verde: #2E7D32 
color boton top: #4A6D63*/
@import url("back-to-top.css");
@import url("contact.css");
@import url("footer.css");
@import url("insert-form.css");
@import url("landing.css");
@import url("list-shops.css");
@import url("mapbox.css");
@import url("navbar.css");
@import url("privacy-policy.css");
@import url("search.css");
@import url("variables.css");

@font-face {
  font-family: "fajala";
  src: url(../fonts/fuente.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  /* me traigo la fuente descargada de la carpeta y le doy nombre */
}

* {
  margin: 5px;
  padding: 0px;
  font-family: sans-serif, helvetica, Arial;
  text-decoration: none; /* asi no sale nada subrayado */
}

/* limiar los flotados, creo clase clearfix*/

.clearfix {
  clear: both;
  float: none;
}
body {
  background: url(../images/cubes.png);
  background-color: rgb(209, 226, 209) #f4f4f4;
  /* font-family: 'fajala';   */
}

#header {
  width: 80%;
  height: auto;
  background: transparent;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

#main {
  margin-bottom: 50px;
}


/* ESTILOS COMUNES A TODO */

.no-page{
  color: #3b5c54;
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center;
}

.hidden {
  display: none;
}


